<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thorin.apps.asmal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.RatibSholawatMaulidKitabKuning">
        <activity
            android:name=".view.ui.dashboard.SettingProfileActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.dashboard.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.menu.maulid.MaulidActivity" />
        <activity android:name=".view.ui.asisten.catatamal.NoteAddUpdateActivity" />
        <activity android:name=".view.ui.asisten.catatamal.CatatAmalActivity" />
        <activity android:name=".view.ui.menu.tasbih.TasbihActivity" />
        <activity android:name=".view.ui.menu.sholawat.isiSholawatList" />
        <activity android:name=".view.ui.menu.sholawat.SholawatListActivity" />
        <activity android:name=".view.ui.menu.ratib.MenuRatibsActivity" />
        <activity android:name=".view.ui.dashboard.SettingActivity" />
        <activity android:name=".view.ui.dashboard.NotifActivity" />
        <activity android:name=".view.ui.dashboard.AboutThorin" />
        <activity android:name=".view.ui.dashboard.QuranActivityOnline" />
        <activity android:name=".view.ui.menu.ratib.RatibAthosHistory" />
        <activity android:name=".view.ui.menu.ratib.RatibHadadHistory" />
        <activity android:name=".view.ui.menu.ratib.RatibAthosFadhilah" />
        <activity android:name=".view.ui.menu.ratib.RatibAlhaddadFadhilah" />

        <receiver
            android:name=".BroadcastReceiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".view.ui.menu.ratib.RatibAlathosActivity" />
        <activity android:name=".view.ui.menu.ratib.RatibAlhaddadActivity" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notif" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1124685100899494~1238374562" />
    </application>

</manifest>